
  ____            _   _
 | __ )  __ _ ___| |_(_) ___  _ __
 |  _ \ / _` / __| __| |/ _ \| '_ \
 | |_) | (_| \__ \ |_| | (_) | | | |
 |____/ \__,_|___/\__|_|\___/|_| |_|


Cluster Details:

{% for master in groups.masters %}
master{{ loop.index0 }}    {{ hostvars[master].ip_address }}
{% endfor %}
{%- for worker in groups.workers %}
worker{{ loop.index0 }}    {{ hostvars[worker].ip_address }}
{% endfor %}
