[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws-shell = "*"
pylint = "*"
autopep8 = "*"

[packages]
ansible = ">=2.9,<2.10"
boto = "*"
boto3 = "*"
botocore = "*"
openshift = "*"
netaddr = "*"
pyyaml = ">=3.08"

[requires]
python_version = "3"
