---

- block:
    - name: Create SSH keys
      openssh_keypair:
        path: ~/.ssh/id_rsa
      register: r_host_prep_create_ssh_keys

    - name: Set the SSH public key fact
      set_fact:
        ssh_public_key: "{{ r_host_prep_create_ssh_keys.public_key | trim }}"
  when: ssh_public_key is undefined

- name: Add additional authorized keys
  authorized_key:
    user: "{{ ansible_user }}"
    key: "{{ item }}"
    state: present
  loop: "{{ additional_authorized_keys }}"

- name: Create MOTD
  template:
    src: bastion_motd.j2
    dest: /etc/motd
  become: yes

- name: Add OpenShift nodes to hosts file
  blockinfile:
    path: /etc/hosts
    block: |
      {{ terraform_outputs.bootstrap.value.private_ip }}  bootstrap
      {% for master in terraform_outputs.masters.value %}
      {{ master.private_ip }}  master{{ loop.index0 }}
      {% endfor %}
      {%- for worker in terraform_outputs.workers.value %}
      {{ worker.private_ip }}  worker{{ loop.index0 }}
      {% endfor %}
  become: yes

- name: Set KUBECONFIG in .bashrc
  lineinfile:
    path: ~/.bashrc
    regexp: "^export KUBECONFIG="
    line: export KUBECONFIG=$HOME/ocp4/auth/kubeconfig

- name: Install required packages
  yum:
    name:
      - bind-utils
      - git
      - httpd
      - screen
      - unzip
      - vim
      - wget
    state: present
  become: yes

- name: Check for OpenShift installer
  stat:
    path: /usr/local/bin/openshift-install
  register: r_check_openshift_installer

- name: Create temporary download directory
  tempfile:
    state: directory
  register: r_create_temp_download_dir
  when: not r_check_openshift_installer.stat.exists

- name: Install OpenShift installer and client
  block:
    - name: Download and unarchive OpenShift installer
      unarchive:
        src: http://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ openshift_version }}/openshift-install-linux-{{ openshift_version }}.tar.gz
        dest: "{{ r_create_temp_download_dir.path }}"
        remote_src: yes

    - name: Copy OpenShift installer binary
      copy:
        src: "{{ r_create_temp_download_dir.path }}/openshift-install"
        dest: /usr/local/bin
        remote_src: yes
        owner: root
        group: root
        mode: 0755
      become: yes

    - name: Download and unarchive OpenShift client
      unarchive:
        src: http://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ openshift_version }}/openshift-client-linux-{{ openshift_version }}.tar.gz
        dest: "{{ r_create_temp_download_dir.path }}"
        remote_src: yes

    - name: Copy OpenShift client binaries
      copy:
        src: "{{ r_create_temp_download_dir.path }}/{{ item }}"
        dest: /usr/local/bin
        remote_src: yes
        owner: root
        group: root
        mode: 0755
      become: yes
      loop:
        - oc
        - kubectl
  always:
    - name: Cleanup temporary download directory
      file:
        path: "{{ r_create_temp_download_dir.path }}"
        state: absent
  when: not r_check_openshift_installer.stat.exists

- name: Start and enable httpd
  service:
    name: httpd
    state: started
    enabled: yes
  become: yes
